

body {
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 150%;
	text-align: center;
	font-weight: bold;
}

h2 {
	font-size: 140%;
	text-align: center;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 130%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

ul, quote, code, fieldset {
	margin: .5em 0;
}


caption {
	font-size: 110%;
	font-weight: bold;
	margin: .5em 0;
}

/*
p {
	margin: 0.6em 0 1.2em;
	padding: 0;
}
*/

a:link, a:visited {
	color: #336699;
	text-decoration: none;
}

a:hover {
	color: #0062A0;
	text-decoration: underline;
}

a:active, a.active {
	color: #5895be;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 2px;
	background: #777777;
	/* background: #5294c1; */
}

ul {
	margin: 0.5em 0 1em;
	padding: 0;
}

ul li {
	margin: 0.4em 0 0.4em .5em;
}


dl {
	margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
	margin: 0 0 .5em 1.5em;
}

img, a img {
	border: none;
}



table {
	margin: 1em 0;
	width: 100%;
	font-size: 80%;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background: #e0e0e0;
}

tr:nth-child(even) {
	background: #fff;
}

col {
	border: none;
}


thead th {
	font-weight: bold;
}



/* 1px horizontal lines don't seem to show on print */
@media screen {
	table {
		border: 1px solid;
	}
}


@media print {
	table {
		border: 2px solid;
	}
}


@media screen {
	td, th {
		padding: .2em .2em;
		border: 1px solid;
	}
}


@media print {
	td, th {
		padding: .1em .1em;
		border: 2px solid;
		page-break-inside: avoid;
	}
}



@media print {
	hr {
		visibility: hidden;
		page-break-after: always;
	}
}


/* Apprently needed by IE to have table headers on every page the table spans */
thead {
	display:table-header-group;
}

tbody {
	display:table-row-group;

}

