<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qrfbv@ctrqvg.pbz</string>
	<key>contactName</key>
	<string>John DeSoi, Ph.D.</string>
	<key>description</key>
	<string>Support for &lt;a href="http://postgresql.org"&gt;PostgreSQL&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>4C3FB8DD-1309-40DB-BC71-481896F44B37</string>
			<string>------------------------------------</string>
			<string>3DA3120A-C077-4487-94F3-71BD9A94D687</string>
			<string>3580331B-4398-4E64-AD49-9A69FDA8F009</string>
			<string>9CBC4B24-F56F-4520-B32F-D77A9F722B20</string>
			<string>------------------------------------</string>
			<string>77089960-F771-4DA9-B533-624A64078505</string>
			<string>------------------------------------</string>
			<string>1E8E6FF4-4183-4506-BB4A-1FBAA17839BE</string>
			<string>------------------------------------</string>
			<string>2EF01E58-E92B-4815-8B78-7842369B8D2D</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>2EF01E58-E92B-4815-8B78-7842369B8D2D</key>
			<dict>
				<key>items</key>
				<array>
					<string>C21D6142-6730-4AA4-8A78-D71953D25786</string>
					<string>C1A35A0F-7483-46E1-B7F6-452306B92B3A</string>
					<string>FBCB0F3F-FB6C-45AF-9C54-8C9C3455DB99</string>
					<string>6E8B3169-9374-4CF1-9DDF-7890F5C149C9</string>
					<string>DB357628-01FD-432D-B4D7-2BD9DDEDE36B</string>
					<string>C5F5F0B0-89E1-44E1-A53E-C4FD3E6AE4B7</string>
				</array>
				<key>name</key>
				<string>PostgreSQL Documentation</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>pgEdit</string>
	<key>ordering</key>
	<array>
		<string>4C3FB8DD-1309-40DB-BC71-481896F44B37</string>
		<string>77089960-F771-4DA9-B533-624A64078505</string>
		<string>3DA3120A-C077-4487-94F3-71BD9A94D687</string>
		<string>3580331B-4398-4E64-AD49-9A69FDA8F009</string>
		<string>9CBC4B24-F56F-4520-B32F-D77A9F722B20</string>
		<string>C21D6142-6730-4AA4-8A78-D71953D25786</string>
		<string>C1A35A0F-7483-46E1-B7F6-452306B92B3A</string>
		<string>FBCB0F3F-FB6C-45AF-9C54-8C9C3455DB99</string>
		<string>6E8B3169-9374-4CF1-9DDF-7890F5C149C9</string>
		<string>DB357628-01FD-432D-B4D7-2BD9DDEDE36B</string>
		<string>C5F5F0B0-89E1-44E1-A53E-C4FD3E6AE4B7</string>
		<string>1E8E6FF4-4183-4506-BB4A-1FBAA17839BE</string>
		<string>E7F50336-E61A-4FA7-B86F-6CFBE404B001</string>
		<string>4D6B679D-111C-4529-B558-3F25487D9E27</string>
		<string>52C00BB3-5BEB-45C2-9DB1-ECE6A9161765</string>
	</array>
	<key>uuid</key>
	<string>6FAB28A0-5DA8-4D1B-B795-BBDED44EE37F</string>
	<key>version</key>
	<string>2.2.0</string>
	<key>webSite</key>
	<string>http://pgedit.com</string>
</dict>
</plist>
